@model IEnumerable<Project_Do_an_4.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id_danhmuc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameProduct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sales)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.views)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Imagelinks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JoinDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id_danhmuc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameProduct)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sales)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.views)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Imagelinks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JoinDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_product }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_product }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_product })
        </td>
    </tr>
}

</table>
